Label {
  font-family: Poppins;
  font-weight: 500;
}

.disabled {
  display: none;
  pointer-events: none;
}

.rounded {
  border-radius: 8px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}