RoundInfo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  margin-top: 5px;
  
  Panel {
    color: white;
    border-radius: 8px;
    margin-bottom: 5px;
    justify-content: center;
    
    &.Round {
      min-width: 250px;
      padding: 8px;
      font-size: 28px;
      text-shadow: 0 0 2px black, 0 0 2px black;
      background-color: rgba(0, 0, 0, 0.9);
    }
    
    &.Time {
      padding: 8px;
      font-size: 22px;
      text-shadow: 0 0 2px black, 0 0 2px black;
      background-color: rgba(0, 0, 0, 0.9);
      align-self: center;

      &.disabled {
        display: none;
        pointer-events: none;
      }
    }
  }
}