SpeedInfo {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  min-width: 150px;
  padding: 10px 5px 10px 5px;
  border-radius: 8px;
  
  Label {
    &.speed {
      font-size: 30px;
      color: white;
    }
  }
}